@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
	font-size:16px;
	font-family: 'Open Sans',serif;
	--bg-primary: #4D7DE3;
	--bg-secondary: #F1F4F9;
	--bg-dark: #3d65b9;
	--bg-white: #ffffff;
	
	--border-primary: #96acc94d;
    
    --table-primary: #F1F4F9;
	
	--text-primary: #333333;
	--text-secondary: #F1F4F9;
	--transition-speed: 600ms;
}

body {
	color: var(--text-primary);
	background-color: var(--bg-secondary);
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-primary);
}

.l-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 500px;
    height: 500px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.center-t {
    text-align: center;
    margin-bottom: 2rem;
}

.social-b {
    display: flex;
    justify-content: center;
}

.social-b a {
    display: flex;
    justify-content: center;  
    align-items: center;
    text-decoration: none;
    line-height: 1.2;
    padding: 15px;
    width: calc((100% - 20px) / 2);
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    font-size: 18px;
}

.btn-fb {
    margin-right: 1rem;
    color: #fff;
    background-color: #3b5998;
}

.btn-fb i {
    font-size: 30px;
    margin-right: 17px;
}

.btn-g {
    color: #555555;
    background-color: #fff;
}

.btn-g img {
    width: 30px;
    margin-right: 15px;
}

.p-b-9 {
    padding-bottom: 9px;
}

.txt1 {
    font-size: 1rem;
    color: #555555;
    line-height: 1.5;
    font-weight: bold;
}

.p-t-31 {
    padding-top: 31px;
}

.p-t-13 {
    padding-top: 13px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.input100 {
    font-family: Poppins-Regular;
    color: #333333;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 60px;
    padding: 0 20px;
}

input {
    outline: none;
    border: none;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid var(--bg-primary);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #333333;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(var(--bg-primary), var(--bg-dark));
    background: -o-linear-gradient(var(--bg-primary), var(--bg-dark));
    background: -moz-linear-gradient(var(--bg-primary), var(--bg-dark));
    background: linear-gradient(var(--bg-primary), var(--bg-dark));
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

.m-t-17 {
    margin-top: 17px;
}

.topbar {
	margin-left: 5rem;
	padding: 0.7rem 1rem;
	background: var(--bg-white);
    border-top: 1px solid var(--bg-secondary);
}

.top-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.top-item:last-child {
	padding-left:1rem;
	margin-left: auto;
}

.top-link {
	display:flex;
	align-items:center;
	text-decoration: none;
}

.top-link img {
	max-width: 3rem;
	border-radius: 50%;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

main h1 {
    color: #505050;
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-image: linear-gradient(var(--bg-primary), var(--bg-dark));
}

.navbar-nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-direction: column;
	align-items: center;
	height: 100%;
}


.nav-item:first-child {
	margin-top: 0.3rem;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display:flex;
	align-items: center;
	height: 4rem;
	text-decoration: none;
	transition: var(--transition-speed);
	filter: grayscale(100%) opacity(0.8);
	color: var(--text-secondary);
}

.nav-link i {	
	transform: rotate(0deg);
}

.nav-link:hover {
	font-size: 1.3rem;
	transform: rotate(-360deg);
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	border-radius: 10px;
}

.nav-link i {
	margin: 0 1.5rem;
}

.container-box {
	background-color: white;
	border-bottom: 3px solid var(--border-primary);
	border-left: 3px solid var(--border-primary);
	border-right: 3px solid var(--border-primary);
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.c-main {
	display: flex;
	flex-wrap:wrap;
    margin: 1rem 0;
}

.bottom-border {
    border-bottom: 3px solid var(--bg-secondary);
    margin-bottom: 3rem;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

.user-card {
	flex-grow:4;
	color: #545454;
}

.t-card {
    margin-bottom: -3px;
    padding: 1rem 0;
    border-radius: 0;
    justify-content: center;
    margin-right: 1rem;
    text-decoration: none;
    color: #444444;
    font-size: 1rem;
    transition: var(--transition-speed);
}

.t-card:hover {
    filter: opacity(1);
}

.t-card:last-child {
    margin-right: 0;
}

.t-active {
    border-bottom: 3px solid var(--bg-primary);
}

.t-inactive {
    filter: opacity(0.6);
}

.l-tab {
    justify-content: center;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
}

.l-inactive:hover {
    filter: opacity(1);
    transition: var(--transition-speed);
    border: 1px solid var(--text-primary);
    color: var(--text-primary);
}

.l-tab:last-child {
    margin-right: 0;
}

.l-active {
    background-color: var(--bg-primary);
    color: white;
}

.l-inactive {
    border: 1px solid var(--bg-secondary);
    color: var(--text-primary);
}

.user-card h2 {
	margin-block-end: 0;
}

.time-card {
	flex-grow:1;
	background-image: linear-gradient(var(--bg-primary), var(--bg-dark));
	color: white;
	align-items: center;
}

@media only screen and (max-width: 884px) {
	.time-card {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 884px) {
	.time-card {
		margin-left: 1rem;
	}
}

.time-title {
	display: flex;
	align-items: center;
}

.dt {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.a-rotate {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.b-rotate {
    transform: rotate(180deg);
    transition: var(--transition-speed);
}

.c-rotate {
    transform: rotate(360deg);
    transition: var(--transition-speed);
}

.time-card h3 {
	margin-block-start: 0;
	font-weight: 100;
}

.listing-b {
    display: none;
}

.listing {
    font-size: 1rem;
    border-collapse:separate; 
    border-spacing: 0 0;
    margin-bottom: 2rem;
}

.listing th,td {
    text-align: left;
    padding: 12px 15px;
}

.listing tr:nth-of-type(even) {
    background-color: #fcfcfc;
}

.listing .item-data:hover {
    background-color: var(--table-primary);
}

.footer-container {
    display: flex;
    font-size: 0.8rem;
}

.copyright {
    margin-left: 5px;
}

.copyright a {
    text-decoration: none;
    color: var(--text-primary);
}

.version {
    margin-left: auto;
    margin-right: 5px;
}

#v {
    font-weight: bold;
}

.navbar, .topbar, .footer, .dashboard-b {
    display: none;
}