@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
	font-size:16px;
	font-family: 'Open Sans',serif;
	--bg-primary: #4D7DE3;
	--bg-secondary: #F1F4F9;
	--bg-dark: #3d65b9;
	--bg-white: #ffffff;
	
	--border-primary: #96acc94d;
    
    --table-primary: #F1F4F9;
	
	--text-primary: #333333;
	--text-secondary: #F1F4F9;
    --text-third: #4D7DE3;
	--transition-speed: 600ms;
    --transition-speed-f: 300ms;
}

body,html {
	color: var(--text-primary);
	background-color: var(--bg-secondary);
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-primary);
}

.l-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-auth-logo-title {
    display: flex;
    margin-bottom: 1rem;
    place-content: center;
}

.top-auth-logo-title img {
    width: 100%;
}

.login-container {
    max-width: 500px;
    display: inline-block;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.p-b-9 {
    padding-bottom: 9px;
}

.txt1 {
    font-size: 1rem;
    color: #555555;
    line-height: 1.5;
    font-weight: bold;
}

.notice {
    margin-top: 1rem;
    color: gray;
    font-size: 10px;
}

.notice a {
    color: blue;
    text-decoration: none;
}

.extra-a {
    display: flex;
}

.extra-option:nth-child(2n) {
    margin-left: auto;
}

.extra-option a {
    text-decoration: none;
    color: #000;
}

.p-t-31 {
    padding-top: 31px;
}

.p-t-13 {
    padding-top: 13px;
}

.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.input100 {
    color: #000;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 90%;
    background: transparent;
    height: 60px;
    padding: 0 20px;
}

input {
    outline: none;
    border: none;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid var(--bg-primary);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
    border-radius: 5px;
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #333333;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(var(--bg-primary), var(--bg-dark));
    background: -o-linear-gradient(var(--bg-primary), var(--bg-dark));
    background: -moz-linear-gradient(var(--bg-primary), var(--bg-dark));
    background: linear-gradient(var(--bg-primary), var(--bg-dark));
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 5px;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

.m-t-17 {
    margin-top: 17px;
}

.error {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(191, 34, 60);
    border-radius: 5px;
    color: var(--text-secondary);
}

.e-icon {
    margin-right: 0.5rem;
}

#b-txt {
    font-weight: bold;
}

.topbar {
	margin-left: 5rem;
	padding: 0.7rem 1rem;
	background: var(--bg-white);
    border-top: 1px solid var(--bg-secondary);
    height: 55px;
}

.top-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.top-item:nth-child(2n) {
    padding-left:1rem;
}

.top-item:last-child {
	padding-left:1rem;
	margin-left: auto;
}

.top-link {
	display:flex;
	align-items:center;
	text-decoration: none;
    color: var(--text-primary);
    height: 50px;
}

.filter-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.filter-item:not(:first-child) {
    margin-left: 0.5rem;
}

.filter-item:nth-child(2n) {
    margin-right: 1rem;
}

.filter-item:last-child {
    margin-left: 1rem;
    width: 100%;
}

.filter-link {
	display:flex;
	align-items:center;
	text-decoration: none;
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.search-link {
    display:flex;
	align-items:center;
	text-decoration: none;
    color: var(--text-primary);
    border-bottom: 1px solid #f1f1f1;
    margin-right: 1rem;
    padding-right: 1rem;
}

.top-link img {
	height: 100%;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

main h1 {
    color: #505050;
}

.loader-bg {
    margin-left: 5rem;
}

.navbar:hover ~ .content-loader .loader-bg {
    margin-left: 10rem;
    transition: var(--transition-speed-f);
}

.navbar:hover ~ .content-loader .center-element {
    left: 5rem;
    transition: var(--transition-speed-f);
}

.loader-bg {
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    998;
    top:        0; 
    left:       0; 
    position:   fixed; 
}

.center-element {
    position: fixed;
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#spinner {
    border: 14px solid #fff;
    border-top: 14px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-image: linear-gradient(var(--bg-primary), var(--bg-dark));
    transition: width 200ms ease;
}

.navbar:hover {
    width: 10rem;
    transition: var(--transition-speed-f);
}

.navbar:hover .link-text {
    display: block;
}

.navbar:hover ~ .content, .navbar:hover ~ .topbar, .navbar:hover ~ .footer {
    margin-left: 10rem;
    transition: var(--transition-speed-f);
}

.navbar-nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-direction: column;
	height: 100%;
}

.nav-item:hover {
    transition: var(--transition-speed);
    background-color: var(--bg-dark);
    padding-left: 8px;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display:flex;
	align-items: center;
	height: 4.8rem;
	text-decoration: none;
	transition: var(--transition-speed);
	color: var(--text-secondary);
}

.nav-link i {
    min-width: 2.2rem;
    margin: 0 0 0 2rem;
}

.r-icon {
    transition: var(--transition-speed);
}

.link-text {
    transition: var(--transition-speed);
}

.container-box {
	background-color: white;
	border-bottom: 3px solid var(--border-primary);
	border-left: 3px solid var(--border-primary);
	border-right: 3px solid var(--border-primary);
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
}

.m-s-r {
    margin-right: 10px;
}

.m-m-l {
    margin-left: 10px;
}

.filter-link:hover:not(.filter-active) {
    transition: var(--transition-speed);
    background-color: #fbfbfb;
}

.filter-active {
    transition: var(--transition-speed);
    background-color: var(--bg-primary);
    color: white;
}

.filter-active .drop-icon {
    color: white;
}

.drop-icon {
    color: var(--text-primary);
    transition: var(--transition-speed);
}

.search-icon {
    color: #888;
}

.listing-search-box {
    width: 100%;
}

.search-box {
    width:100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.c-main {
	display: flex;
	flex-wrap:wrap;
    margin: 1rem 0;
}

.f-s-main {
    display: flex;
    flex-wrap: wrap;
}

.filters-container {
    margin-right: 1rem;
}

.f-card-tab {
    margin: 1rem;
}

.f-card {
    display: flex;
    flex-wrap: wrap;
}

.f-s-option {
    cursor: pointer;
}

.filter-tab-options-container {
    padding: 0 1rem 0 1rem;
    margin: 2rem 0 2rem 0;
    flex-grow: 1;
    flex-basis: 25%;
}

#title-bold {
    font-weight: bold;
}

#title-bold-l {
    font-weight: bold;
    font-size: 1rem;
}

.filter-tab-option {
    margin-top: 1rem;
}

.border-form input {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}

.border-form input:disabled {
    cursor: not-allowed;
}

.new-list-form {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.new-list-form input {
    padding: 10px 0;
    font-size: 1rem;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}

.new-list-form:not(:last-child) {
    margin-bottom: 2rem;
}

.view-list-form {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.view-list-form input {
    padding: 10px 0;
    font-size: 1rem;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}

.view-list-form:not(:last-child) {
    margin-bottom: 2rem;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

.f-s-card {
    display: flex;
	padding: 0.5rem;
	border-radius: 5px;
    margin-top: 1rem;
    transition: var(--transition-speed);
}

.user-card {
	flex-grow:4;
	color: #545454;
}

.t-card {
    margin-bottom: -3px;
    padding: 1rem 0;
    border-radius: 0;
    justify-content: center;
    margin-right: 1rem;
    text-decoration: none;
    color: #444444;
    font-size: 1rem;
    transition: var(--transition-speed);
}

.t-card:hover {
    filter: opacity(1);
}

.t-card:last-child {
    margin-right: 0;
}

.t-active {
    border-bottom: 3px solid var(--bg-primary);
}

.t-inactive {
    filter: opacity(0.6);
}

.l-tab {
    justify-content: center;
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: 12px;
}

.l-tab:last-child {
    margin-right: 0;
}

.l-active {
    background-color: var(--bg-primary);
    color: white;
}

.user-card h2 {
	margin-block-end: 0;
}

.time-card {
	flex-grow:1;
	background-image: linear-gradient(var(--bg-primary), var(--bg-dark));
	color: white;
	align-items: center;
    transition: var(--transition-speed);
}

@media only screen and (max-width: 884px) {
	.user-card {
        text-align: center;
    }
    .time-card {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 884px) {
    .time-card {
		margin-left: 1rem;
	}
}

.time-title {
	display: flex;
	align-items: center;
}

.dt {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.a-rotate {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.b-rotate {
    transform: rotate(180deg);
    transition: var(--transition-speed);
}

.c-rotate {
    transform: rotate(360deg);
    transition: var(--transition-speed);
}

.time-card h3 {
	margin-block-start: 0;
	font-weight: 100;
}

.navbar, .topbar, .footer, .dashboard-b, .info-b, .new-agent-b, main, .listing-b, .agent-b, .view-listing-b, .dropdown-content, #clear-button, .filters-container, .link-text, .content-loader, .error, .new-listing-b, .listing, .agent {
    display: none;
}

.listing {
    font-size: 1rem;
    border-collapse:separate; 
    border-spacing: 0 0;
}

.agent {
    font-size: 1rem;
    border-collapse:separate; 
    border-spacing: 0 0;
}

tr {
    margin-bottom: 1rem;
}

th,td {
    text-align: left;
    padding: 12px 15px;
}

.listing tr:nth-of-type(even) {
    background-color: #fcfcfc;
}

.agent tr:nth-of-type(even) {
    background-color: #fcfcfc;
}

.listing .item-data:hover {
    background-color: var(--table-primary);
    cursor: pointer;
}

.agent-table-data .item-data:hover {
    background-color: var(--table-primary);
    cursor: pointer;
}

.footer-container {
    display: flex;
    font-size: 0.7rem;
}

.copyright {
    margin-left: 5px;
}

.copyright a {
    text-decoration: none;
    color: var(--text-primary);
}

.version {
    margin-left: auto;
    margin-right: 5px;
}

.version a {
    color: var(--text-primary);
    text-decoration: none;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child:hover {
    background-color: #f1f1f1; 
    border-radius: 10px 10px 0 0;
}

.dropdown-content a:last-child:hover {
    background-color: #f1f1f1; 
    border-radius: 0 0 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}



#c-title {
    padding-bottom: 1rem;
    border-bottom: 2px solid #f5f5f5;
    font-weight: 100;
}

#c-version {
    color: #888;
}

.changelog {
    padding: 1rem;
}

#c-note {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.c-legend {
    margin-top: 2rem;
    font-size: 0.8rem;
}

.c-n-container {
    margin-top: 2rem;
}

.top-title-component {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;  
}

.vl-top-title-component {
    margin-bottom: 1rem;
    margin-top: 1rem;  
}

.nl-top-title-component {
    margin-bottom: 1rem;
    margin-top: 1rem;  
}

.top-component-left-button {
    padding: 0.8rem 1.3rem;
    border-radius: 5px;
    transition: var(--transition-speed);
    color: white;
}

#print-listing {
    background: -webkit-linear-gradient(to right, orange, #da8d00);
    background: -o-linear-gradient(to right, orange, #da8d00);
    background: -moz-linear-gradient(to right, orange, #da8d00);
    background: linear-gradient(to right, orange, #da8d00);
    margin-left: 1rem;
}

#delete-listing {
    background: -webkit-linear-gradient(to right, #e34d4d, #b93d3d);
    background: -o-linear-gradient(to right, #e34d4d, #b93d3d);
    background: -moz-linear-gradient(to right, #e34d4d, #b93d3d);
    background: linear-gradient(to right, #e34d4d, #b93d3d);
    margin-left: 1rem;
}

#save-listing, #new-listing, #new-agent, #save-agent, #edit-listing {
    background: -webkit-linear-gradient(to right, var(--bg-primary), var(--bg-dark));
    background: -o-linear-gradient(to right, var(--bg-primary), var(--bg-dark));
    background: -moz-linear-gradient(to right, var(--bg-primary), var(--bg-dark));
    background: linear-gradient(to right, var(--bg-primary), var(--bg-dark));
}

.top-component-left-button:hover {
    cursor: pointer;
}

.top-title-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 1rem;
    margin-right: auto;
}

.vl-top-title-text {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.vl-select-css {
    padding: 10px 0;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}

.nl-top-title-text {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#clear-button {
    margin-left: auto;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.autocomplete-items {
  position: absolute;
    font-size: 0.8rem;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
    transition: var(--transition-speed);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.select-css {
	padding: .6em 1.4em .5em 0;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
    border: none;
	border-bottom: 1px solid #f1f1f1;
}

.nl-select-css {
	padding: 10px 0;
	width: 100%;
    font-size: 1rem;
    border: none;
	border-bottom: 1px solid #f1f1f1;
}

.select-css:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
}

.nl-select-css:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
}

.a-r-down {
    transform: rotate(90deg);
}

.back-btn {
    color: black;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 0;
    width: fit-content;
    margin-left: 5px;
}

.vl-top-title-b {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
}

.nl-top-title-b {
    font-size: 2rem;
    font-weight: bold;
    margin-right: auto;
}

.red-text {
    margin-left: 10px;
    color: red;
}

#status-for-rent span {
    background-color: var(--bg-primary);
    color:white;
    border-radius: 15px;
    padding: 0.2rem 1rem;
}

#status-for-sale span {
    background-color: tomato;
    color:white;
    border-radius: 15px;
    padding: 0.2rem 1rem;
}

#status-sold span {
    background-color: slategray;
    color:white;
    border-radius: 15px;
    padding: 0.2rem 1rem;
}

#status-active span {
    color: green;
    font-weight: bold;
}

#status-inactive span {
    color: gray;
    font-weight: bold;
}

.empty-l-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.empty-a-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.search-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ed-big {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}

#ed-med {
    font-size: 22px;
    margin-bottom: 10px;
}

#ed-med-2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#ed-med::after {
    content: "";
    animation: smileChange 1s linear infinite alternate;
}

@keyframes smileChange {
    0% { content: "" }
    25% { content: "." }
    50% { content: ".." }
    100% { content: "..." }
}